<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>About Me</title>    
    <link href='../static/styles/reset.css' rel='stylesheet' type='text/css' >
    <link href='../static/styles/style.css' rel='stylesheet' type='text/css' >
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>

</head>
 
<body>
    <header>
    <div class="wrapper">
        <h1><span class="color">Order</span>Genie!</h1>
        <nav>
            <ul>
		<li><a href="index" class="more-link">Home</a></li>
                <li><a href="project" class="more-link">Project Overview</a></li>
                <li><a href="contact" class="more-link">About me</a></li>
            </ul>
        </nav>
    </div>
    </header>

    
   <div id="bio-image">
   <div class="wrapper">
	<div id="bio-image-content">
	   <div class="cv icon">
		<p><a href="../static/images/Yvonne_Chan_resume.pdf">
		<img border="0" alt="resume" src="../static/images/cv-icon.jpg" width="30" height="30" style="margin:0px 10px"></a></p>
	   </div>
	   <div class="email icon">
		<p><a href="mailto:&#121;&#118;&#101;&#104;&#099;&#104;&#097;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">
		<img border="0" alt="resume" src="../static/images/email-icon.jpg" width="30" height="30" style="margin:0px 10px"></a></p>
	   </div>
		<div class="linkedin icon">
		<p><a href='https://www.linkedin.com/in/yvehchan/'>
		<img border="0" alt="resume" src="../static/images/linkedin-icon.jpg" class="linkedin icon" width="30" height="30" style="margin:0px 10px">
		</a></p>
		</div>
		<div class="github icon">
		<p>
		<a href='https://github.com/yvehchan/'>
		<img border="0" alt="resume" src="../static/images/github-icon.jpg"  class="github icon" width="30" height="30" style="margin:0px 10px">
		</a></p>
		</div>

     </div>
    </div>
    </div>
</body>



