<!DOCTYPE HTML>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>Forecast</title>
      <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <link href='../static/styles/reset.css' rel='stylesheet' type='text/css' >
      <link href='../static/styles/style.css' rel='stylesheet' type='text/css' >
      <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>

  </head>

  <body>



  </div> <!-- /.container-->

    <div class="container">


                </table>
                <br>
                <h3> Recommendations for company {{comp}}: </h3>
                <h4> Forecasted order: </h4>               
                <table class="table table-hover">
                <tr><th>Product ID</th><th>Product Description</th><th>Projected quantity</th></tr>
                {% for p in recommend_table %}
                <tr><td>{{ p['prodID'] }}</td><td>{{ p['prodDesc']}}</td><td> {{ p['quant'] }}</td></tr>
                {% endfor %}
                </table>

                </table>
                <br>
                <h4> Last order: </h4>               
                <table class="table table-hover">
                <tr><th>Product ID</th><th>Product Description</th><th>Quantity</th></tr>
                {% for p in last_table %}
                <tr><td>{{ p['prodID'] }}</td><td>{{ p['prodDesc']}}</td><td> {{ p['quant'] }}</td></tr>
                {% endfor %}
                </table>

                </table>
                <br>
                <h4> Company favorites: </h4>               
                <table class="table table-hover">
                <tr><th>Product ID</th><th>Product Description</th><th>Avg quantity</th></tr>
                {% for p in top_table %}
                <tr><td>{{ p['prodID'] }}</td><td>{{ p['prodDesc']}}</td><td> {{ p['quant'] }}</td></tr>
                {% endfor %}
                </table>

                </table>
                <br>
                <h4> Frequently bought together: </h4>               
                <table class="table table-hover">
                <tr><th>Product ID</th><th>Product Description</th><th></th><th>---with---</th><th></th><th><th>Product ID</th><th>Product Description</th>
                {% for p in together_table %}
                <tr><td>{{ p['prodID1'] }}</td><td>{{ p['prodDesc1']}}</td><th></th><th>----------</th><th></th><th><td>{{ p['prodID2'] }}</td><td>{{ p['prodDesc2']}}</td>
                {% endfor %}
                </table>

        </div><!-- /.container -->

 


      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="../static/js/bootstrap.min.js"></script>


     </div><!-- /.container -->


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

<script src="static/js/bootstrap.min.js"></script>

  </body>
</html>


