<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Forecast Plots</title>    
    <link href='../static/styles/reset.css' rel='stylesheet' type='text/css' >
    <link href='../static/styles/style.css' rel='stylesheet' type='text/css' >
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>

</head>
 
<body>
    <header>
    <div class="wrapper">
        <h1><span class="color">Order</span>Genie!</h1>
        <nav>
            <ul>
				<li><a href="index" class="more-link">Home</a></li>
                <li><a href="project" class="more-link">Project Overview</a></li>
                <li><a href="contact" class="more-link">About me</a></li>
            </ul>
        </nav>
    </div>
    </header>

    
    <div id="forecast_plots">
    	<img src="../static/images/current_forecast.png" id="forecast_plots" alt="">
    </div>

</body>



